<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.ceph_youtube_script</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sean10/Code/VideoSummary/update.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/sean10/Code/VideoSummary</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>1</integer>
    </dict>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/ceph_youtube.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ceph_youtube_error.log</string>
</dict>
</plist>
